@import "compass";
@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
//font-family
$baseFontFamily:"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;


// colors
$baseColor: #fdfcf6;
$subColor:#232323;
$keyColor: #2e8b57;
$fontColor: #4c4c4c;
$accentColor:#7fff00;

/* Base
------------------------------------------------------------*/

html{ font-size:62.5%};

body{
  color:$fontColor;
  font-size:1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing:0.1rem;
  background-color:$baseColor;
}

a{
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration:none;
}

/* Align
------------------------------------------------------------*/

.text-center{
  text-align:center;
}


/* Layout
------------------------------------------------------------*/

.display-inline{
  display:inline;
}


/* Font
------------------------------------------------------------*/
.wf-nicomoji { font-family: "Nico Moji","Rounded Mplus 1c"; }
.font-weight-500{ font-weight:500 };



/* Header
------------------------------------------------------------*/
header{
  .header-image{
    width: 100%;
    height: 500px;
    object-fit: cover; 
    object-position: 0 0; 
  }
  
  .site-title{
    font-size:5.6rem;
    line-height:normal;
  }
  p.shop-name{
    margin-top:50px;
    font-size:1.6rem;
  }
  
  p.shop-description{
    font-size:2.4rem;
    color:$keyColor;
    margin:15px;
  }
}


main{
  .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .plant-box{
    flex:1;
    margin:0px 15px;
    padding:15px 15px;
    border-radius:10px;
    border:solid 5px $keyColor;
    box-sizing: border-box;
    background-color:$baseColor;
    
    h3{
      font-weight:bold;
    }
    
    p{
      margin-top:8px;
    }
  }
  .plant-icon{
    color:$accentColor;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
}
  
footer{
  .blog-box{
    width:100%;
    height:200px;
    margin-top:50px;
    padding-top:50px;
    background-color:#2f2f2f;
    
    .blog-box-inner{
      
      h3{
        margin-bottom:30px;
        color:#FFF;
      }
      .button-readmore{
        padding:3px 12px;
        border-radius:5px;
        box-shadow: 0px 0px 0px 5px $keyColor;
        border:dashed 1px $keyColor;
        background-color:$baseColor;
        
        &:hover{
          border:dotted 1px $keyColor;
          background-color:#FFF;
        }
      }
    }
  }
}

@media (max-width:768px){
  main .container{
    flex-direction:column;
  }
  main .plant-box{
    margin:15px 15px;
  }
  header .header-image{
    height: 250px;
  }
}

